<% provide(:title, "About") %>
<h1>About</h1>
<br>
<p>After observing that most people ask their peers about travel advice before doing any research
  themselves, I decided to build Travel Forward.</p>
<br>
<p>Travel forward is a place for travelers to share their itineraries and donwload others in return.
</p>
