<% provide(:title, "Home")%>

<h1>Home Page</h1>
<p>This will be the home page. There will be a search bar here with destination,
trip duration and budget parameters.</p>
<p> *Based on the search criteria this will take you to the country
page and list out each itinerary available in that country.</p>

<p>------------------------------------------------------------------------ </p>

<p> Below the fold there will be brief information on what this product is and
why its of value to the visitor.</p>
