<% provide(:title, "Home")%>
<div class="jumbotron">
<h1>Home Page</h1>

<p> *Based on the search criteria this will take you to the country
page and list out each itinerary available in that country.</p>
</div>

<p>------------------------------------------------------------------------ </p>

<p> Below the fold there will be brief information on what this product is and
why its of value to the visitor.</p>

<p>Sign up today to get thousands of itineraries and upload your travel
  experiences.</p>

  <%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary" %>
