<div class ="user-stats-container">
  <ul class="user-stats">
    <div class="user-stats-align">
      <li class = "stats-number"><%= @user.itineraries.count %></li>
      <li>Uploads</li>
    </div>

    <div class="user-stats-align">
      <li class = "stats-number"><%= @user.downloads.count%></li>
      <li>Downloads</li>
    </div>

  </ul>
</div>
