<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Hey <%= @user.name %></h1>
      <ul>
        <li>Your itineraries</li>
        <li>Liked Itineraries</li>
        <li>
          move add itinerary button here.
        </li>
      </ul>
    </section>
  </aside>
  <div class = "itinerary-dashboard">

  <%= render "itineraries" %>

</div>
</div>
