<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user-info">
      <h1>Hey <%= @user.name %></h1>
      <ul>
        <li>Credits: <%= @user.credit.credit_balance %> | <%= @user.id %></li>
      </ul>
    </section>
  </aside>
  <div class = "itinerary-dashboard">

  <%= render "itineraries" %>

</div>
</div>
