@import "bootstrap-sprockets";
//includes the entire CSS framework
@import "bootstrap";

//home page and layout




body {
  padding-top: 50px;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Arial';
  background-color: #F5FAF9;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}




.navbar-inverse {
  background-color: #0dd5b2;
  border-color: #0dd5b2;
}
#itin-search {
  margin: auto;
  width:75%;
}
#duration-form {
  width: 250px;
}

#country-form {
  width: 250px;
}

#search-button {
  margin-bottom: 0;
}

#upload-button {
  background-color: #fff;
  color: #0dd5b2;
  font-weight: bold;
  line-height: 1.428571429;

}

#upload-container {
    padding-top: 9px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding: 20px;
  height: 30px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #0dd5b2;

}

footer a {
  color: #fff;
}

footer a:hover {
  color: #222;
}

footer ul {
  float: left;
  list-style: none;
  height: 25px;

}

footer ul li {
  float: left;
  margin-left: 15px;
  font-weight: bold;
}

/* homepage */

.home-page-container{
  background-image: url("/spain_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.jumbotron {
  background-color: inherit ;
    h1 {
      color: #fff;
       -webkit-text-stroke: 1px #000;
    }
}

.website-information {
  margin-top: 20px;
}

.step-box {
  display: inline-block;
  width: 375px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;

    h1 {
      color: #0dd5b2;
      font-weight: bold;
    }
    p {
      padding: 15px;
    }

}

#signup-button {
  margin: auto;
  width: 20%;
  background-color: #3F4443;
}

/* mixins, variables etc */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
 /*margin-bottom: 15px; */
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

//.field_with_errors {
//  @extend .has-error;;
  //.form-control {
    //color: $state-danger-text;;
  //}
//}

.checkbox {
  /*margin-top: -10px;*/
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

//add itineraries

#p-itinerary {
  text-align: center;
}

span.document {
  margin-top: 10px;
  margin-bottom: 10px;
  input {
    border: 0;
  }
}

//Country Page

.itinerary-stats {
  border-top: #000 1px solid;
  padding: 2px;
  height: 81px;
  background-color: #fff;
  width: 100%;
  ul {
    text-align: left;
    padding-left: 20px;
    li {
      list-style-type: none;
      //font-size: 11px;
      text-align: left;
    }
  }

}

.itin-preview-container {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}

.page-description {
  margin: auto;
  width: 50%;
  text-align: center;
}

#itinerary-not-found {
  margin: auto;
  width: 100%;
}

//Itinerary Page
.itinerary-viewer{
  height: 800px;
  width: 734px;
}

.preview-msg {
  width: 734px;
  margin-top: 250px;
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-color: #000;


}


#review-button {
  text-align: center;
  margin: auto;
}

.review-container {
  width: 734px;
}

.user-stats-align{
  display: inline-block;
  margin: 0 35px 0 35px;
    li{
        list-style-type: none;
        vertical-align: middle;
        text-align: center;
      }
}

//User Page
.user-info {
  li{
    list-style-type: none;
    text-align: left;
    vertical-align: baseline;
  }
}
//Pages styling

.class-description {
  text-align: center;
  margin: 0 auto 10px auto;
}

//modal pop up

.upload-container {
  width: 700px;
  margin:auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  display: block;
  margin-top: 50px;
}
